.App {
  text-align: center;
}

.logo img {
  height: 50px;
}

.navbar {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #5c5959;
}

.navbarul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
  margin: 0;
}

.navbar ul li {
  list-style: none;
  margin: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  color: green;
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: small;
}

.pagination{
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
  margin-left: 10%;
  border: 1px solid black;
}

.details section {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.details section input,textarea{
  height: 40px;
  margin: 20px;
  outline: none;
  border: none;
  border-radius: 15px;
  background: #eee;
}

.details section input:focus {
  background: #ccc;
}

.heading {
  border-bottom: 1px solid black;
  width: 98%;
  margin-left: 1%;
  margin-bottom: 10px;
}

.save {
  padding: 10px;
  color: green;
  background: lightgreen;
  outline: none;
  border: none;
  border-radius: 15px;
}

.save:hover {
  color: lightgreen;
  background: green;
}

.error {
  color: red;
}

.timings {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  align-items: flex-start;
  margin-left: 10%;
  border: 1px solid black;
}

.timeList {
  list-style: none;
}

.icon {
  height: 20px;
}

.noList {
  color: red;
  margin:auto;
  width: 40%;
}
